.object-tools form { display: inline }
.object-tools a>button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
.object-tools a>button:focus {
    outline: none
}